$header-margin: 1vw;
$back-color: green;
$height: 50vw;
$poke-height: 8vw;

.pic {
  height: $poke-height;
  width: $poke-height;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.header {
  display: flex;
  // text-align: center;
}

.main-div {
  background-image: url('http://thecraftchop.com/files/others/Pokeball.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: $height;
  width: $height;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.pokemon {
  display: flex;
  align-self: center;
}

.filler {
  height: 4vw;
}


.middle-pokemon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
